---
import Masthead from "../components/Masthead.astro";
import Layout from "../layouts/Layout.astro";
import InteractiveCards from "../components/InteractiveCards";
import Contact from "@/components/Contact.astro";
import Newsletter from "@/components/Newsletter.astro";
import Testimonial from "@/components/Testimonial.astro";
import SupportSection from "@/components/SupportSection.astro";
import About from "@/components/About.astro";
import EmergencyRelief from "@/components/EmergencyRelief.astro";
import DonationList from "@/components/DonationList.astro";
import Sponsor from "../components/Sponsor.tsx";
import Volunteer from "@/components/Volunteer.tsx";
import SpecialThanks from "../components/SpecialThanks.tsx";
import Swiper from "../components/Swiper.tsx";
//import { Button } from "@/components/ui/button";
//import { Image } from "astro:assets";
//import Footer from "../components/Footer.astro";
//updated with scroll-margin

//import SuspendedLayout from '../layouts/SuspendedLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div id="home" class="bg-stone-100 w-full mx-auto scroll-mt-42">
    <div class="w-full">
      <Masthead />
    </div>
  </div>
  <div
    class="flex flex-col gap-16 lg:gap-30 bg-stone-50 py-16 lg:py-30 w-screen"
  >
    <section id="about" class="scroll-mt-30"><About /></section>
    <section id="relief" class="scroll-mt-30 lg:scroll-mt-42">
      <EmergencyRelief />
    </section>
  </div>
  <section id="support" class="scroll-mt-16 lg:scroll-mt-24">
    <SupportSection />
  </section>
  <section id="interactive-cards" class="scroll-mt-16 lg:scroll-mt-24">
    <InteractiveCards client:visible />
  </section>
  <section id="sponsor" class="scroll-mt-16 lg:scroll-mt-24">
    <Sponsor client:load />
  </section>
  <section id="volunteer" class="scroll-mt-16 lg:scroll-mt-24">
    <Volunteer client:load />
  </section>
  <DonationList />
  <section>
    <Newsletter />
  </section>
  <section id="impact" class="scroll-mt-16 lg:scroll-mt-24">
    <Testimonial />
  </section>
  <section>
    <SpecialThanks client:load />
  </section>
  <section id="contact" class="scroll-mt-16 lg:scroll-mt-24">
    <Contact />
  </section>
</Layout>
