---
import "../styles/global.css";
---

<section class="w-full max-w-[80rem] mx-auto px-6 md:px-8">
  <div class="mx-auto max-w-7xl">
    <div
      class="grid grid-cols-1 gap-6 md:grid-cols-2 md:items-center md:gap-12"
    >
      <div>
        <div class="max-w-prose md:max-w-none space-y-6">
          <div>
            <h2>Who We Are</h2>
            <h3>About Faith Angels For Seniors</h3>
          </div>

          <p>
            Faith Angel for Seniors is a Montego Bay–based nonprofit dedicated
            to uplifting and caring for vulnerable older adults. Whether living
            alone, in senior homes, or displaced by crisis, we ensure seniors
            receive dignity, compassion, and essential support.
          </p>
        </div>
      </div>

      <div class="rounded-lg shadow-lg overflow-hidden">
        <img
          src="/images/Abbie Townsend for The New York Times.webp"
          class="rounded"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
