---
import "../styles/global.css";
//about
---

<section class="w-full max-w-[80rem] mx-auto px-6 md:px-8">
  <div class="mx-auto max-w-7xl">
    <div
      class="grid grid-cols-1 gap-6 md:grid-cols-2 md:items-center md:gap-12"
    >
      <div>
        <div class="max-w-none space-y-6">
          <div>
            <h2>Who We Are</h2>
            <h3>About Faith Angels For Seniors</h3>
          </div>

          <p>
            Faith Angel for Seniors is a Jamaican-based nonprofit in Montego Bay
            dedicated to supporting vulnerable older adults, including those
            living alone, in under-resourced senior homes, affected by
            disasters, or struggling to meet basic needs.
          </p>
          <p>
            Our mission is to restore dignity and provide essential care so
            every senior feels seen, valued, and supported. Through
            compassionate outreach and community partnerships, we help older
            adults live safer, healthier, and more hopeful lives.
          </p>
        </div>
      </div>

      <div class="rounded-lg shadow-lg overflow-hidden">
        <img
          src="/images/alejandra-ezquerro-tYdgOQk72iA-unsplash.avif"
          class="rounded"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
