---
import "../styles/global.css";
//emergency relief
---

<section class="flex flex-col gap-6 w-full max-w-[80rem] mx-auto px-6 md:px-8">
  <div class="flex flex-col gap-6">
    <div class="w-full">
      <div class="mx-auto md:max-w-7xl">
        <div class="pb-4">
          <h2>Hurricane Melissa Emergency Relief</h2>
          <h3>Supporting Jamaica’s seniors affected by the storm</h3>
        </div>
        <div class="grid grid-cols-1 gap-8 md:gap-12 md:grid-cols-2">
          <div class="col-span-1">
            <div class="rounded-lg shadow-lg overflow-hidden">
              <img
                src="/images/Abbie Townsend for The New York Times.webp"
                class="rounded"
                alt=""
              />
            </div>
          </div>

          <div class="flex flex-col gap-4">
            <div>
              <h4 class="pb-4 text-xl">Relief We’re Delivering</h4>
              <p>
                Hurricane Melissa left many older adults without safe shelter,
                clean water, or essential supplies. Some have no family support
                and depend entirely on the compassion of their community to
                survive. Faith Angel for Seniors is on the ground delivering
                urgent relief and support.
              </p>
            </div>
            <div class="flex flex-col w-full">
              <div class="flex items-start justify-start gap-4">
                <div
                  class="shrink-0 rounded-lg bg-stone-200 p-2 text-primary-brown"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    class="w-8 h-8"
                    ><title>Drink-bottle-20-regular SVG Icon</title><path
                      fill="currentColor"
                      d="M8.5 2h3a1.5 1.5 0 0 1 .547 2.897c.121.487.477.856 1.022 1.393l.01.01c.384.378.839.826 1.237 1.423q.015.02.025.042a4.14 4.14 0 0 1 .65 2.515q.009.11.009.22v5a2.5 2.5 0 0 1-3.75 2.165A2.5 2.5 0 0 1 10 18a2.5 2.5 0 0 1-1.25-.335A2.5 2.5 0 0 1 5 15.5v-5q0-.11.01-.22A4 4 0 0 1 5 10c0-1.33.639-2.512 1.63-3.326q.17-.18.328-.342l.002-.001c.533-.55.881-.925.997-1.432A1.5 1.5 0 0 1 8.5 2M14 14v-3.5q0-.082-.008-.161a.5.5 0 0 1-.002-.093a3.15 3.15 0 0 0-.529-2.002A5 5 0 0 0 13.287 8H6.718a3.2 3.2 0 0 0-.708 2.246a.5.5 0 0 1-.001.093A2 2 0 0 0 6 10.5V14zm-8 1v.5a1.5 1.5 0 0 0 2.437 1.171a.5.5 0 0 1 .626 0c.257.206.582.329.937.329s.68-.123.937-.329a.5.5 0 0 1 .626 0A1.5 1.5 0 0 0 14 15.5V15zm5.046-10h-2.09c-.157.872-.714 1.446-1.24 1.987L7.705 7h4.661l-.042-.041C11.79 6.434 11.212 5.864 11.047 5M8.5 4h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0 0 1"
                    ></path></svg
                  >
                </div>
                <div>
                  <h3 class="text-lg font-semibold pb-0">
                    Emergency Response Kits
                  </h3>
                  <p class="-mt-1">
                    Ready-to-use food, clean water, hygiene essentials and basic
                    care items for seniors.
                  </p>
                </div>
              </div>

              <div class="flex items-start justify-start gap-4">
                <div
                  class="shrink-0 rounded-lg bg-stone-200 p-2 text-primary-brown"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    class="w-8 h-8"
                    ><title>Food-16-regular SVG Icon</title><path
                      fill="currentColor"
                      d="M3.5 1a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 0 1 1.415V1.5a.5.5 0 0 1 1 0v4.415A1.5 1.5 0 0 0 7 4.5v-3a.5.5 0 0 1 1 0v3a2.5 2.5 0 0 1-2 2.45v7.55a.5.5 0 0 1-1 0V6.95A2.5 2.5 0 0 1 3 4.5v-3a.5.5 0 0 1 .5-.5m6.979 1.479c.159-.16.338-.283.521-.364V7h-1V3.5c0-.337.174-.717.479-1.021M11 8v6.5a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5c-.663 0-1.283.326-1.729.771C9.326 2.217 9 2.837 9 3.5v4a.5.5 0 0 0 .5.5z"
                    ></path></svg
                  >
                </div>
                <div>
                  <h3 class="text-lg font-semibold pb-0">
                    Daily Nourishment & Hydration
                  </h3>
                  <p class="-mt-1">
                    Prepared meals and clean water distribution.
                  </p>
                </div>
              </div>

              <div class="flex items-start justify-start gap-4">
                <div
                  class="shrink-0 rounded-lg bg-stone-200 p-2 text-primary-brown"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="21"
                    height="21"
                    viewBox="0 0 21 21"
                    class="w-8 h-8"
                    ><title>Support SVG Icon</title><g
                      fill="none"
                      fill-rule="evenodd"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><circle cx="10.5" cy="10.5" r="8"></circle><circle
                        cx="10.5"
                        cy="10.5"
                        r="4"></circle><path
                        d="M13.5 7.5L16 5m-2.5 8.5L16 16m-8.5-2.5L5 16m2.5-8.5L5 5"
                      ></path></g
                    ></svg
                  >
                </div>
                <div>
                  <h3 class="text-lg font-semibold pb-0">
                    Support for Senior Homes
                  </h3>
                  <p class="-mt-1">
                    supplies and staffing help for overwhelmed facilities.
                  </p>
                </div>
              </div>

              <div class="flex items-start justify-start gap-4">
                <div
                  class="shrink-0 rounded-lg bg-stone-200 p-2 text-primary-brown"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="w-8 h-8"
                    ><title>Heart-handshake SVG Icon</title><g
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.25"
                      ><path
                        d="M19.5 12.572L12 20l-7.5-7.428A5 5 0 1 1 12 6.006a5 5 0 1 1 7.5 6.572"
                      ></path><path
                        d="M12 6L8.707 9.293a1 1 0 0 0 0 1.414l.543.543c.69.69 1.81.69 2.5 0l1-1a3.182 3.182 0 0 1 4.5 0l2.25 2.25m-7 3l2 2M15 13l2 2"
                      ></path></g
                    ></svg
                  >
                </div>
                <div>
                  <h3 class="text-lg font-semibold pb-0">Long-Term Recovery</h3>
                  <p class="-mt-1">
                    Rebuilding assistance and continuous wellness support.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
