---
import "../styles/global.css";
import SocialShare from "../components/SocialShare";
---

<div class="relative py-30 bg-stone-200 w-screen overflow-hidden">
  <section class="w-full max-w-[80rem] mx-auto">
    <h2 class="mb-12">How You Can Help</h2>
    <grid class="grid grid-cols-4 w-full gap-6">
      <a
        href="#"
        class="group relative block bg-black rounded-3xl overflow-hidden shadow-xl"
      >
        <img
          alt=""
          src="/images/ina-ramos-og6jTcsXqAY-unsplash.webp"
          class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-40"
        />

        <div class="relative p-4 sm:p-6 lg:p-8">
          <p
            class="text-sm font-medium tracking-widest text-secondary-green uppercase"
          >
            Donate Now
          </p>

          <p class="text-xl font-bold text-white sm:text-2xl">You can help</p>

          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
            >
              <p class="text-sm text-white">
                Your financial support provides immediate relief and long-term
                recovery.
              </p>
            </div>
          </div>
        </div>
      </a>
      <a
        href="#"
        class="group relative block bg-black rounded-3xl overflow-hidden shadow-xl"
      >
        <img
          alt="Photo by Ina Ramos on Unsplash of a close-up of two people holding hands"
          src="/images/giuseppe-cantiello-FhLJfTG8xWM-unsplash.webp"
          class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-40"
        />

        <div class="relative p-4 sm:p-6 lg:p-8">
          <p
            class="text-sm font-medium tracking-widest text-secondary-green uppercase"
          >
            Sponsor Now
          </p>

          <p class="text-xl font-bold text-white sm:text-2xl">
            Sponsor a Senior
          </p>

          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
            >
              <p class="text-sm text-white">
                Give meals, water, and essential supplies directly to a senior
                in need.
              </p>
            </div>
          </div>
        </div>
      </a>
      <a
        href="#"
        class="group relative block bg-black rounded-3xl overflow-hidden shadow-xl"
      >
        <img
          alt="Photo by Kampus Production of people smiling together"
          src="/images/pexels-kampus-7551583.webp"
          class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-40"
        />

        <div class="relative p-4 sm:p-6 lg:p-8">
          <p
            class="text-sm font-medium tracking-widest text-secondary-green uppercase"
          >
            Share Now
          </p>

          <p class="text-xl font-bold text-white sm:text-2xl">
            Spread the Word
          </p>

          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
            >
              <p class="text-sm text-white">
                Share our mission to help seniors receive the care they deserve.
              </p>
            </div>
          </div>
          <div><SocialShare client:visible /></div>
        </div>
      </a>
      <a
        href="#"
        class="group relative block bg-black rounded-3xl overflow-hidden shadow-xl"
      >
        <img
          alt="Photo by Julia M Cameron of a close-up shot of food donations"
          src="/images/pexels-julia-m-cameron-6994962.webp"
          class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-40"
        />

        <div class="relative p-4 sm:p-6 lg:p-8">
          <p
            class="text-sm font-medium tracking-widest text-secondary-green uppercase"
          >
            Connect Now
          </p>

          <p class="text-xl font-bold text-white sm:text-2xl">
            Partner With Us
          </p>

          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
            >
              <p class="text-sm text-white">
                Community groups, faith-based organizations, and businesses are
                invited to join our efforts.
              </p>
            </div>
          </div>
        </div>
      </a>
    </grid>
  </section>
</div>
