---
import "../styles/global.css";
import { Button } from "../components/ui/button";
import { Image } from "astro:assets";
import GivebutterButton from "./GivebutterButton";
//import Navigation from "../components/Navigation.astro";
---

<section
  class="relative flex flex-col w-full py-16 lg:py-30 h-auto sm:h-[600px] lg:h-[700px] max-w-screen mx-auto overflow-hidden px-6 md:px-8 lg:px-12 z-10"
>
  <div
    class="flex flex-1 flex-col left-0 justify-center items-start gap-8 w-full max-w-[80rem] mx-auto text-white"
  >
    <h1 class="text-white text-4xl lg:text-5xl">
      Restoring Hope for <span
        class="inline-block text-[#BFDA47] font-ruberoid md:font-medium"
        >Our Seniors</span
      >,<br />One Act of Kindness at a Time
    </h1>
    <p>
      Many seniors have been left homeless, displaced, and without basic
      necessities. <br class="hidden md:inline-block" />
      <strong
        >Faith Angels for Seniors is responding — and we need your support.</strong
      >
    </p>
    <div class="flex gap-4">
      <GivebutterButton />
      <a href="#interactive-cards"
        ><Button variant="secondary">Learn How You Can Help</Button></a
      >
    </div>
  </div>

  <div class="absolute left-0 top-0 w-full h-full -z-10">
    <Image
      src="/images/woman-cooking-outside.webp"
      alt="Woman cooking outside"
      width={500}
      height={300}
      priority={true}
      class="absolute inset-0 w-full h-full object-cover grayscale"
    />

    <div
      class="absolute left-0 top-0 w-screen h-screen bg-stone-900 opacity-70 bg-blend-overlay bg-cover bg-no-repeat"
    >
      <!-- /* bg-gradient-to-l from-transparent to-white */ -->
    </div>
  </div>
</section>
