---
import "../styles/global.css";
---

<div class="swiper-container w-full h-[500px]">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  const swiper = new Swiper(".swiper", {});
</script>
