---
import "../styles/global.css";
import Head from "../components/Head.astro";
//import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
//import BreakPoint from "../components/BreakPoint.astro";
import Navigation from "../components/Navigation";
import { getNavigation } from "../utils/api";
//layout

// Fetch navigation items
const navItems = await getNavigation();
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <!-- <BreakPoint /> -->
    <Navigation client:load />
    <div class="min-h-screen mx-auto flex flex-col overflow-hidden">
      <!-- <Navigation nav={{ items: navItems }} /> -->
      <main class="flex flex-1 mx-auto">
        <div class="flex flex-col w-full h-full">
          <slot />
        </div>
      </main>
      <Footer nav={{ items: navItems }} />
    </div>
  </body>
</html>
